@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lexend+Exa:wght@100..900&family=Manrope:wght@200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alexandria:wght@100..900&family=Lexend+Exa:wght@100..900&family=Manrope:wght@200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Alex+Brush&family=Alexandria:wght@100..900&family=Lexend+Exa:wght@100..900&family=Manrope:wght@200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

.main-container {
  display: flex;
  min-height: 100vh;
  background-color: #fdfbf9;
  font-family: "Poppins", sans-serif;
}


.content {
  flex: 1;
  padding: 1.5rem;
}

.banner {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.banner-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Alex Brush", cursive !important;
  font-size: 3.5rem;
  width: 100%;

}

.banner-text h1 {
  font-size: 3.5rem;
  font-family: "Alex Brush", cursive !important;
  width: 100%;

}

.lines {
  width: 100rem;
  height: 100%;
  z-index: -1;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 2rem;
  width: 95%;
  justify-self: center;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  height: 35vh;
  width: 30vw;
  background-color: rgba(181, 146, 107, 1);
  /*background-image: url('../icons/Lines.svg');
  background-size: cover;*/
  border-radius: 30px;
  color: #fff;
  padding: 30px;
  font-family: "Alexandria", sans-serif;
  box-shadow: -9px 9px 22px 0px rgba(0, 0, 0, 0.25);

}

.info-card div {
  width: 50%;
}

.info-card div > h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 110%;
}

.info-card div > p {
  font-size: 1rem;
  font-weight: 300;
}

.info-card-1 {
  margin-top: 8rem;
}

.info-card-2 {
  margin-bottom: 15vh;
}
.info-card.about {
  flex-direction: column;
  background-color: rgba(244, 208, 168, 0.8);
  color: #4a3b32;
}

.info-card.about h3 {
  font-size: 2rem;
  font-weight: 500;
}

.info-card.about h3 span {
  color: rgba(184, 108, 55, 1);
}

.info-card.about p {
    font-size: 1rem;
  font-weight: 300;
}

/*.WhoWeAre-img {
  height: 100%;
}*/
.section-title {
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 2.3rem;
  margin: 1.5rem;
}

.restaurant-card {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 5rem;

}

.restaurant-info {
  width: 50vw;
  flex: 1 1 300px;
  color: #fff;
  background-color: #d5b49c;
  border-radius: 30px;
  padding: 1rem;
  align-items: center;
  color: black;
  font-weight: 500;
  text-align: justify;
  padding: 2rem 4rem;
  box-shadow: -9px 9px 22px 0px rgba(0, 0, 0, 0.25);


}

.restaurant-info h3 {
  font-weight: 500;
  font-size: 2rem;
  color: black;
  justify-self: center;
}

.restaurant-image {
  border-radius: 30px;
  width: 30vw;
  height: fill;
}

.address {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    padding: 1rem;
  }
  .restaurant-card {
    flex-direction: column;
  }
}
