@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lexend+Exa:wght@100..900&family=Manrope:wght@200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

.sidebar {
  width: 220px;
  background-color: #f8ecdf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  min-height: 100vh;
  gap: 40%;
}

.sidebar-logo {
  justify-items: center;
}

.sidebar-logo h2 {
  font-family: "Alex Brush", cursive !important;
  font-size: 4rem;
  line-height: 60%;

}

.sidebar-logo p {
  font-family: "Alex Brush", cursive !important;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 7vh
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1rem;
  color: #4a3b32;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: color 0.2s;

}

.nav-btn img, .sidebar-footer img {
  height: 40px;
}

.nav-btn:hover {
  color: #c07a45;
}
